@page "/members"
@using System.Runtime.CompilerServices
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using SSar.BC.MemberMgmt.Application
@inject IAccessTokenProvider AuthenticationService
@inject NavigationManager Navigation
@attribute [Authorize]

<h1>Members</h1>

<MemberGrid></MemberGrid>

@code {

}
