@page "/testpage"
@using Microsoft.AspNetCore.Http

@inject HttpContext MyHttpContext;

<h3>Test Page</h3>

This if for experimental code. 

@code {

    protected override async Task OnInitializedAsync()
    {
        
    }

}
