@page "/webcams"

@using SSar.Presentation.BlazorSpaUI.Components.WebCams 

<h2>Web Cams</h2>

Web cam test. If you are lucky there will be images below.

<WebCamGroupImages></WebCamGroupImages>

<style>
    webcam-block {
        max-width: 100%;
        z-index: 0;
        padding-top: 2vh;
    }
</style>
