@page "/webcams"
@inject IWebCamsClient WebCamsClient

@using SSar.Presentation.BlazorSpaUI.Components.WebCams 
@using SSar.Presentation.ApiClient.CSharp.Contracts
@using System.Collections

<h1>Web Cams</h1>

@if (_cameraGroups == null)
{
    <div>
        Loading camera groups...
    </div>
}
else
{
    <div>
            @foreach (var group in _cameraGroups)
            {
                <GroupCameraList CameraGroup=@group></GroupCameraList>
            }
    </div>
}

@code
{
    ICollection<CameraGroup> _cameraGroups;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _cameraGroups = (await WebCamsClient.GetGroupsAsync()).Result;
    }
}