@page "/webcams2"

<h2>Web Cams</h2>

Web cam test. If you are lucky there will be images below.

<h3>SARA House</h3>
<div class="webcam-block">
    <img class="webcam-block" src="https://localhost:44344/api/webcams/groups/sara-house/cameras/roof-south" />
</div>
<div class="webcam-block">
    <img class="webcam-block" src="https://localhost:44344/api/webcams/groups/sara-house/cameras/roof-north" />
</div>
<div class="webcam-block">
    <img class="webcam-block" src="https://localhost:44344/api/webcams/groups/sara-house/cameras/west-parking" />
</div>
<div class="webcam-block">
    <img class="webcam-block" src="https://localhost:44344/api/webcams/groups/sara-house/cameras/gate-approach" />
</div>
<div class="webcam-block">
    <img class="webcam-block" src="https://localhost:44344/api/webcams/groups/sara-house/cameras/gate-equipment" />
</div>

<style>
    webcam-block {
        width: 100%;
        z-index: 0;
        padding-top: 2vh;
    }
</style>
