@page "/webcams"

<h3>WebCams</h3>

Web cam test. If you are lucky there will be an image below.

<div>
    
    <img src="https://localhost:44344/webcams?group-name=sara-house&cameraName=4-roof-south"/>

</div>

<style>
    image-block {
        width: 100%;
        z-index: 0;
        padding-top: 2vh;
    }

</style>
