@page "/webcams"

@using SSar.Presentation.BlazorSpaUI.Components.WebCams 

<h1>Web Cams</h1>

<WebCamGroupImages></WebCamGroupImages>

<style>
    webcam-block {
        max-width: 100%;
        z-index: 0;
        padding-top: 2vh;
    }
</style>
