<h3>WebCamGroupImages</h3>

<h3>SARA House</h3>
<div class="webcam-block">
    <img class="webcam-block" src="https://localhost:44344/webcams/sara-house/roof-south" />
</div>
<div class="webcam-block">
    <img class="webcam-block" src="https://localhost:44344/webcams/sara-house/roof-north" />
</div>
<div class="webcam-block">
    <img class="webcam-block" src="https://localhost:44344/webcams/sara-house/west-parking" />
</div>
<div class="webcam-block">
    <img class="webcam-block" src="https://localhost:44344/webcams/sara-house/gate-approach" />
</div>
<div class="webcam-block">
    <img class="webcam-block" src="https://localhost:44344/webcams/sara-house/gate-equipment" />
</div>

@code {
    [Parameter]
    public string GroupName { get; set; }
}
